@import './reset'
@import './fonts'
@import './titles'
@import './transitions'

:root
	--p-color-blue: #0a84ff
	--p-color-blue-07: #075cb2
	--p-color-black: #000000
	--p-color-red-04: #661313
	--p-color-red-05: #801818
	--p-color-red-08: #cc2626
	--p-color-white-005: #0c0c0c
	--p-color-white-01: #191919
	--p-color-white-02: #333333
	--p-color-white-03: #4c4c4c
	--p-color-white-04: #666666
	--p-color-white-05: #808080
	--p-color-white-06: #999999
	--p-color-white-09: #e5e5e5

	--p-body-font-size: 15px
	--p-body-line-height: 1.3334

	--p-h1-font-size: 68px
	--p-h1-font-weight: 500
	--p-h1-line-height: 1.471

	--p-h2-regular-font-size: 30px
	--p-h2-regular-font-weight: 400

	--p-hero-font-size: 68px
	--p-hero-font-weight: 500
	--p-hero-line-height: 0.7353

	--p-headline-font-size: 13px
	--p-headline-font-weight: 600
	--p-headline-line-height: 1.538

	--p-caption-font-size: 13px
	--p-caption-font-weight: 400
	--p-caption-line-height: 1.538

	--p-badge-font-size: 13px
	--p-badge-font-weight: 600
	--p-badge-line-height: 1.538

	@media (max-width 414px)
		--p-headline-font-size: 12px
		--p-headline-font-weight: 500
		--p-headline-line-height: 1.6667

::selection
	color: var(--p-color-white-09)
	background-color: var(--p-color-blue)

::placeholder
	color: var(--p-color-white-03)

html
	font-family: 'Inter', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif
	font-size: var(--p-body-font-size)
	line-height: var(--p-body-line-height)

	color: var(--p-color-white-09)

	text-underline-offset: 0.2rem

	background: var(--p-color-black)

	color-scheme: light dark
	text-size-adjust: 100%

	scroll-behavior: smooth
	scroll-padding-top: 220px

	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

svg
	fill: currentColor

a
	color: var(--p-color-white-09)

a:hover
	color: var(--p-color-white-05)

a:focus
	background-color: var(--p-color-white-01)
	outline: none

ul
	list-style: none

button
	font: inherit
	line-height: var(--p-body-line-height)
	color: inherit
	text-align: inherit
	cursor: pointer
	background: none
	border: 0

button:focus
	outline: none
	box-shadow: 0 0 0 2px var(--p-color-blue)

input
	width: 100%
	font: inherit
	font-weight: inherit
	line-height: inherit
	color: inherit
	letter-spacing: inherit
	background: none
	border: 0

input:focus
	outline: none
	box-shadow: 0 0 0 2px var(--p-color-blue)
