@import './reset'
@import './fonts'
@import './titles'
@import './transitions'

:root
	--p-color-blue: #0A84FF
	--p-color-black: #000000
	--p-color-red-08: #cc2626
	--p-color-white-005: #0C0C0C
	--p-color-white-01: #191919
	--p-color-white-02: #333333
	--p-color-white-03: #4C4C4C
	--p-color-white-04: #666666
	--p-color-white-05: #808080
	--p-color-white-09: #E5E5E5

	--p-body-font-size: 15px
	--p-body-line-height: 1.3334

	--p-h1-font-size: 68px
	--p-h1-font-weight: 500
	--p-h1-line-height: 1.471

	--p-h2-regular-font-size: 30px
	--p-h2-regular-font-weight: 400

	--p-headline-font-size: 13px
	--p-headline-font-weight: 600
	--p-headline-line-height: 1.538

	--p-caption-font-size: 13px
	--p-caption-font-weight: 400
	--p-caption-line-height: 1.538

	--p-badge-font-size: 13px
	--p-badge-font-weight: 600
	--p-badge-line-height: 1.538

::selection
	color: var(--p-color-white-09)
	background-color: var(--p-color-blue)

::placeholder
	color: var(--p-color-white-03)

html
	font-family: 'Inter', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif
	line-height: var(--p-body-line-height)
	font-size: var(--p-body-font-size)
	background: var(--p-color-black)
	color: var(--p-color-white-09)

	color-scheme: light dark
	text-size-adjust: 100%
	text-underline-offset: 0.25rem

	scroll-behavior: smooth
	scroll-padding-top: 220px

	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

svg
	fill: currentColor

a
	color: var(--p-color-white-09)

a:hover
	color: var(--p-color-white-05)

a:focus
	outline: none
	background-color: var(--p-color-white-01)

ul
	list-style: none

button
	font: inherit
	color: inherit
	cursor: pointer
	border: 0
	background: none
	line-height: var(--line-height-body)

button:focus
	outline: none
	box-shadow: 0 0 0 2px var(--p-color-blue)

input
	font: inherit
	color: inherit
	width: 100%
	border: 0
	background: none
	font-weight: inherit
	line-height: inherit
	letter-spacing: inherit

input:focus
	outline: none
	box-shadow: 0 0 0 2px var(--p-color-blue)
