@import './reset'
@import './fonts'
@import './titles'

:root
	--p-color-blue: #0A84FF
	--p-color-black: #000000
	--p-color-red-08: #cc2626
	--p-color-white-005: #0C0C0C
	--p-color-white-01: #191919
	--p-color-white-02: #333333
	--p-color-white-03: #4C4C4C
	--p-color-white-04: #666666
	--p-color-white-05: #808080
	--p-color-white-09: #E5E5E5

	--p-body-font-size: 15px
	--p-body-line-height: 1.3334

	--p-h1-font-size: 68px
	--p-h1-font-weight: 500
	--p-h1-line-height: 1.471

	--p-h2-regular-font-size: 30px
	--p-h2-regular-font-weight: 400

	--p-headline-font-size: 13px
	--p-headline-font-weight: 500
	--p-headline-line-height: 1.538

html
	font-family: 'Inter', Helvetica, Arial, sans-serif
	line-height: var(--p-body-line-height)
	font-size: var(--p-body-font-size)
	background: var(--p-color-black)
	color: var(--p-color-white-09)
	color-scheme: light dark
	text-size-adjust: 100%

svg
	fill: currentColor

button
	border: none
	outline: none
	font: inherit
	color: inherit
	cursor: pointer
	background: none
	line-height: var(--line-height-body)

h1, h2, h3, h4, h5, h6
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
